a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
}

.heading {
    font-family: var(--font-heading);
    line-height: 1.1;
    letter-spacing: 1.6%;
    font-weight: 400;
    &--hero {
        font-size: 12rem;
    }
    &--title {
        font-size: 9.2rem;
    }
    &--sup {
        line-height: 1.5;
        font-size: 1.3rem;
        font-weight: 500;
    }
}

.text {
    &--center {
        text-align: center;
    }
    &--sm {
        font-size: 1.45rem;
    }
}
.nav-link {
    font: inherit;
    text-transform: capitalize;
    transition: color .15s ease-in;

    &:hover {
        color: var(--color-light);
    }
}
.color {
    &--grey {
        color: var(--color-grey);
    }
    &--dark {
        color: var(--color-secondary);
    }
    &--primary {
        color: var(--color-primary);
    }
    &--light {
        color: var(--color-light);
    }
}
.bg {
    &--grey {
        background-color: var(--color-grey);
    }
    &--dark {
        background-color: var(--color-secondary);
    }
    &--primary {
        background-color: var(--color-primary);
    }
    &--light {
        background-color: var(--color-light);
    }

    &--linear-body {
        background-color: var(--linear-body);
    }
    &--linear-black {
        background-color: var(--linear-black);
    }
}



